<div id="value"></div>

<div class="profile" style="text-align: center;" >
    <img style="border-radius: 10px;" width="200px" height="200px" src="https://1.bp.blogspot.com/ogw/AOLn63HfseTfxclrtT2H0bH-Kkiq3bV2FEcRCquc-xGO=w790-h790" alt="Profile">
    <h1>ZyeLangx</h1>
    <hr>
</div>

<div align="center">
    https://komarev.com/ghpvc/?username=zyelangx&style=for-the-badge
</div>


<script>
    async function getVistor(params) {
        await fetch('https://api.countapi.xyz/hit/gilangzyehan.com/github', {
            method: 'GET'
        }).then((res) => res.json())
            .then((res) => {
                console.log(res)
                value.innerText = res.value
            })
    }
    // getVistor()
</script>